<!--TODO Fix radio buttons so that only one can be checked -->
{% extends "base.html" %}
{% block script %}
<script type="javascript" src="questions.js"></script>
{% endblock %}
{% block body %}
    <div><br/><br/><br/><br/></div>
    <div class="center5">
        <input type="submit" class="button" onclick="submit()" name="submit"/>
        &nbsp;
        <a class="button" href="/get_next_question/">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        &nbsp;
        <input type="reset" onclick="reset()" class="button" />
    </div>
    <div class="quest">
        <div><b>Category:</b>&nbsp;&nbsp;{{category}}</div>&nbsp;&nbsp;&nbsp;<div><b>Num Quest Remaining:</b> {{remain}}</div>
        <b>Question No: {{order}}:</b>&nbsp;&nbsp;{{question_text}}
    </div>
    <div>
        <ol>
        {% for answer in answers %}
        {% set idx = loop.index0 + 1 %}
        <li class="quest" name="{{idx}}"><label><input class="radio-check" type="{{type}}";
                                 name="{{idx}}";
                                 value="{{idx}}">&nbsp;{{answer}}</label></li>
        {% endfor %}
        </ol>
    </div>
    <div>
        <input type="hidden" id="order" value="{{order}}">
    </div>
    <div>
        <input type="hidden" id="correct" value="{{correct}}">
    </div>
    <div>
        <input type="hidden" id="category" value="{{category}}">
    </div>
{% endblock %}