<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <head>
        <style>
            .quest {
                font-family: "Arial";
                font-size: 14pt;
                margin-left: 90px;
                margin-right: 90px;
                line-height: 1.5em;
            }
            .radio-check {
                display: inline-block;
                vertical-align: middle;
                height: 1.5em;
}
        </style>
</head>
<body>

    <div><br/><br/><br/><br/></div>
    <div class="quest">
        <b>Question No: {{order}}:</b>&nbsp;&nbsp;{{question_text}}
    </div>
    <div>
        <ol>
        {% for answer in answers %}
        <li class="quest"><input class="radio-check" type="{{type}}";
                                 name="{{order}}";
                                 value="{{loop.index0 }}">&nbsp;{{answer}}</li>
        {% endfor %}
        </ol>
    </div>
</body>
</html>